body{
    background-color: black;
    background-size: cover;
    color: white; 
    font-family: 'Signika Negative', sans-serif;
    line-height: 2.0;
    font-size: 18px;
    font-weight: lighter;
   }
   .titles{
	color: #8b9599;
   }
   img{
    float: center;
    margin-left: 100px;
    /*margin-left: auto;
    margin-right: auto;*/
   }
   a{
    text-decoration: none;
    color: #02558c;
    font-weight: bold;
   }
   #highlight{
   font-size: 22px;
   padding-left: 5px; 
   padding-right: 5px;
   }

   /* For mobile phones*/
   @media only screen and (max-width: 768px){
  img{
      /*float: center;
      margin-left: 40px;*/
      max-width: 100%;
      height: auto;
      /*margin-left: auto;
      margin-right: auto;*/
     }
   }
  /*for tabs*/
   @media only screen and (min-width: 768px) and (max-width: 1200px){
  img{
      float: center;
      margin-left: 40px;
      /*margin-left: auto;
      margin-right: auto;*/
     }
   }


   


