body {
  background-color: black;
}
.container {
  margin-top: 100px;
}

@media only screen and (max-width: 576px) {
  .charity {
    padding-top: 50px;
  }
  .weather {
    padding-top: 50px;
  }
  .second {
  	margin-top: 50px;
  }
}


