body{
    background: grey;
    background-size: cover;
        color: white; 
   /* width: 1400px;
    height: 5000px;*/
    font-family: 'Signika Negative', sans-serif;
    line-height: 2.0;
    font-size: 18px;
   }
   .titles{
	/*color: #000066;*/
  color: #baf2ee;
   }
   /*.btns{
    background-color: #000066;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    border-style: none;
   }
   #next1{
   float: right;
   }*/
   .screens:hover{
	transform: scale(1.5,1.5);
   }
   div.screens {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 180px;
}

   div.screens img {
    width: 100%;
    height: auto;
  }
  /*.foot{
font-family: 'Pompiere', cursive;
text-align: right;
margin-right: 50px;
font-size: 19px;
color: white;
}*/
#more{
  background-color: #346f87;
    
 border-style: outset;
  
 border-color: none;
 
 color: white;
 float: right;
 margin-top: 60px;
padding-right: 10px;
 font-weight: bolder;
height: 25px;

font-size:15px;
font-family: 'Signika Negative', sans-serif;
/*font-family: 'Dekko', cursive;*/
text-align: center;

}
      /*for screens larger than 320px but less than 480px*/
   
    /* @media only screen and (min-width: 320px) and (max-width: 480px){
    
    
 .main{
 
       text-align: center;
 
       }
  
} */

/*@media only screen and (min-width: 320px) and (max-width: 480px){
  .title2{
    margin-top: 1900px;
  }
  #more{
   margin-top: 300px; 
  }
}*/

/*For mobile phones*/
@media only screen and (max-width: 768px){
  .title2{
    margin-top: 1900px;
  }
  #more{
   margin-top: 300px; 
  }
}
/*@media only screen and (min-width: 480px) and (max-width: 768px){
  .title2{
    margin-top: -200px;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .title2{
    margin-bottom: 200px;
  }
    
}*/

/*for tabs*/

@media only screen and (min-width: 768px) and (max-width: 1200px){
  .title2{
    margin-top: 400px;
  }
  #more{
    margin-top: 300px;
  } 
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .title2{
    margin-top: 1200px;
  }
  #more{
    margin-top: 300px;
  } 
}



  

