body{
 
   background:linear-gradient(to right,#044e54, #070707, #044e54);
    
   background-size: cover;
   overflow-y: hidden; 
 
   }
  
  .container{
 
  width: 100%;
    
  height: 80vh;

  position:relative;
  
    }

  .second{
  
 position: absolute;

 color: white;

 font-family: 'Ubuntu', sans-serif;

 text-align: center;
   
 margin-top: 0;

 font-size: 20px;

 width: 100%;
 
 height: 50%;

/*background: url("click for health.jpg");
   
   background-repeat: no-repeat;
  
    background-position: center;

      background-size: cover;
   
   min-height: 100vh;
    
  width: auto;

  cursor: pointer;*/
 
  
     }
 
      
 .app{

        margin-top: 50px;
  
    }

      #check{
   
   color: white;
  
   text-align: center;

   font-size: 28px;
 
   font-family: 'Pompiere', cursive;

   font-weight: bolder;
 
     }  
	
  label,#res{

font-family: 'Pompiere', cursive;

font-weight: bold;
	 
 }

   #wgt{

 border-radius: 2px;
  
 width:50px;

 height:20px;

 background:#cbeaed;
 
  }

   #hgt{

  border-radius: 2px;

  width:50px;

  height:20px;
  
 background:#cbeaed;

      }
 
  #checking{
     
 background-color: #cbeaed;
    
 border-style: outset;
  
 border-color: none;
 
 color: black;

 font-weight: bolder;
height: 25px;

font-size:15px;

font-family: 'Dekko', cursive;
 
     }
 
  #ans{
  
 margin-left: 40px;
   
      }
    
 #meaning{
 
   background-color: #cbeaed;
    
   border-style: outset;
  
   border-color: none;
  
   color: black;
  
   font-weight: bolder;
	
   height: 25px;

font-size:15px;
	
font-family: 'Dekko', cursive;   
     
      }
 
  .comments{

font-family: 'Pompiere', cursive;

font-size: 30px;
	
}

  .underContent{

border: 2px solid white;

width: 20%;
  
height: 80px;

position:relative;
   
color: white;
  
    }
 
 .normalContent{
 
border: 2px solid white;
 
width: 20%;
 
height: 80px;

position:relative;

float: right;

clear: left;

      }
     
.overContent{
   
   border: 2px solid white;
 
   width: 20%;
    
  height: 80px;
  
  position:relative;
  
  float: right;
 
  clear: left;


      }
      
 .obeseContent{
     
 border: 2px solid white;

 width: 20%;

 height: 80px;

 position:relative;

 float: right;

 clear: left;
 
     }

.foot{
font-family: 'Pompiere', cursive;

font-size: 19px;
color: white;
}
      /*for screens larger than 320px but less than 480px*/
   
     @media only screen and (min-width: 320px) and (max-width: 480px){
    
    
 #health{
 
       height: 62%;
 
       }
  
} 
