body{
    background: black;
    background-size: cover;
    color: white; 
    font-family: 'Signika Negative', sans-serif;
    line-height: 2.0;
    font-size: 18px;
   }
   .titles{
	color: #5d0426;
   }
  /* .btns{
    background-color: #000066;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    border-style: none;
   }
   #next1{
   float: right;
   }*/
   .screens:hover{
	transform: scale(1.5,1.5);
   }

.foot{
font-family: 'Pompiere', cursive;
text-align: right;
margin-right: 50px;
font-size: 19px;

}
#next{
  background-color: white;
    
 border-style: outset;
  
 border-color: none;
 
 color: #5d0426;

 font-weight: bolder;
height: 25px;

font-size:15px;
font-family: 'Signika Negative', sans-serif;
/*font-family: 'Dekko', cursive;*/


}


      /*for screens larger than 320px but less than 480px*/
   
     @media only screen and (min-width: 320px) and (max-width: 480px){
 
