body{
    background: white;
    background-size: cover;
    color: black; 
    font-family: 'Signika Negative', sans-serif;
    line-height: 2.0;
    font-size: 18px;
   }
   .titles{
	color: #000066;
   }
   .btns{
    background-color: #000066;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    border-style: none;
   }
   #next1{
   float: right;
   }
   .screens:hover{
	transform: scale(1.5,1.5);
   }


