body {
  font: 15px Lato, sans-serif;
  line-height: 2;
}
/*NAVBAR*/
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  font-size: 12px; 
  line-height: 1.5;
  letter-spacing: 4px;
}
.navbar-brand {
  font-size: 40px;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #80bfff !important;
}
.custom-toggler {
    border-color: transparent !important;
}
.custom-toggler:focus {
   outline: none;
}

/*ABOUT SECTION*/
#services {
  background-color: #b3d9ff;
}

/*CUSTOMER REVIEWS*/
#reviews {
  background-color: #b3d9ff;
}

/*SERVICES*/
.icons {
  color: #1a8cff;
}

.serviceName {
  margin-left: 100px;
}

/*FOOTER*/
.arrow {
  padding-left: 1200px;
  color: #001a00;
  font-weight: light;
  opacity: 0.5;
}

@media (max-width : 576px){
  #about {
    margin-top: 50px;
  }
  #services {
    margin-top: 50px;
  }
  #portfolio {
    margin-top: 50px;
  }
  #reviews {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .carousel-inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .map{
  margin-top: 50px;
        }
    #contact {
      margin-top: 50px;
    }
}
    /*FOOTER
.arrow {

  color: #001a00;
  font-weight: light;
float: right;
  }*/
